
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

<button class="btn btn-info" id="yz">Yazarları getir</button>
<div class="row" id="gt">

</div>

@section script{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $("#yz").click(function () {
           
            $.ajax({
                type: "GET",
                url: "/Admin/Yazarlar/yazarlar",
                dataType: "html",
                success: function (veri) {
                    $("#gt").html(veri);
                    
                },
                error: function (veri) {
                    alert("Hata ");
                }

            })
           
        })
        $(document).on("click", ".siller", function () {
            
            var id = $(this).data("id");
            Swal.fire({
                title: "Emin misiniz??",
                text: "Bu işlem geri alınamaz!",
                icon: "warning",
                 showCancelButton:true,
                cancelButtonText: "İptal",
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                
                confirmButtonText: "Evet, sil!"
            }).then((result) => {
                if (result.isConfirmed) {
                  
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Yazarlar/Sil/" + id,
                        success: function () {
                            Swal.fire({
                                title: "Silindi!",
                                text: "Dosyanız silindi.",
                                icon: "success",
                                confirmButtonText: "Tamam"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $.ajax({
                                        type: "GET",
                                        url: "/Admin/Yazarlar/yazarlar",
                                        dataType: "html",
                                        success: function (veri) {
                                            $("#gt").html(veri);
                                        },
                                        error: function () {
                                            alert("hata");
                                        }
                                    });
                                }
                            });
                        },
                        error: function () {
                            alert("hata");
                        }
                    });
                }
            });
        })
        
        $(document).on("click", ".collapse-link", function () {
            
            var element = $("#ibox");
            var element2 = $(".ibox-content");
            console.log(element.attr("class"))
            if (element.hasClass("ibox border-bottom")) {
             
               
                element.removeClass();
                element.addClass("ibox");
                $(".ibox-content").css("display", "");
                console.log(element.attr("class"))
       
            }
            else {
               
                element.addClass("ibox border-bottom");
                element2.css("display", "none");
                console.log(element.attr("class"))
                
            }
         
           
        })
        $(document).on("click", ".close-link", function () {
            $("#gt").html("");
        })
        
        
    </script>

}