
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}
@using EntityLayer.Entity
@model AppRoles
<form class="form" action="/Admin/AdminRol/Guncelle" method="post">
     <div class="form-group">
         <label>Ad:</label>
         <input type="text" name="Name" value="@Model.Name" class="form-control" />
         <input type="hidden" name="Id" value="@Model.Id" />
     </div>    
     <button type="submit" class="btn btn-success">Guncelle</button>
</form>

